<h3>p</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minus officia aut nemo dolorem. Aperiam tenetur, itaque nisi dolore officiis accusantium, neque deleniti saepe pariatur minus! Repellat ducimus possimus consectetur?</p>
<h3>dfn, del, ins</h3>
<p><dfn>Lorem ipsum dolor</dfn> sit amet, consectetur adipisicing elit. Nihil deleniti dolore sed quae magni, quia inventore sunt in nulla harum ut, <del cite="http://blablabla.com" datatime="15-03-2015T21:41:04+04:00">aliquid ex ipsum laborum</del>, <ins  cite="http://blablabla.com" datatime="15-03-2015T21:44:04+04:00">eligendi voluptas molestias nemo quaerat!</ins></p>
<h3>i, kbd, mark, em</h3>
<p>Lorem ipsum dolor sit amet, consectetur <i>adipisicing elit</i>. Hic numquam quia facilis dicta totam similique dolorem consequuntur <kbd>Alt+Ctrl+A</kbd> necessitatibus sed magnam saepe perferendis cupiditate expedita molestias debitis dignissimos eum accusamus doloribus, corporis, officia architecto? <mark>Repudiandae nihil</mark> eaque magnam cum <em>incidunt dolorum perferendis, esse quia</em>.</p>
<h3>Address</h3>
<address>Recusandae asperiores laudantium quae rerum <a href="#">deleniti</a> est.</address>
<h3>abbr, a, q, b</h3>
<p><abbr title="Lorem ipsum dolor">LRI</abbr>, consectetur adipisicing elit. Hic numquam quia facilis dicta totam similique dolorem <a href="#">consequuntur(Ссылка)</a> necessitatibus sed magnam saepe perferendis cupiditate expedita <q>molestias debitis dignissimos eum accusamus doloribus</q>, corporis, officia architecto? <b>Repudiandae</b> nihil eaque magnam cum incidunt dolorum perferendis, esse quia. Recusandae asperiores laudantium quae rerum deleniti est.</p>
<h3>hr</h3>
<hr>
<h3>meter</h3>
<meter value="10" min="0" max="100" low="20" high="90" optimum="77">Плохо</meter>
<meter value="40" min="0" max="100" low="20" high="90" optimum="77">Норм</meter>
<meter value="75" min="0" max="100" low="20" high="90" optimum="77">Ух!</meter>
<meter value="91" min="0" max="100" low="20" high="90" optimum="77">Вау!</meter>
<meter value="100" min="0" max="100" low="20" high="90" optimum="77">x_x</meter>
<h3>progress</h3>
<progress max="100" value="75"></progress>
<h3>ul</h3>
<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, qui.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt accusamus repellendus, voluptatem non ex adipisci nulla minima consequatur ipsa tenetur.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, rerum.</li>
</ul>
<h3>ol</h3>
<ol>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, qui.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt accusamus repellendus, voluptatem non ex adipisci nulla minima consequatur ipsa tenetur.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, rerum.</li>
</ol>
<h3>pre</h3>
<pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae praesentium doloribus fuga deserunt sit reprehenderit dicta, vero natus porro optio quas vitae iure labore, tempora asperiores enim voluptatibus deleniti. Magnam!</pre>
<h3>blockquote</h3>
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis dolore ad, libero, incidunt distinctio nesciunt nulla optio autem, reiciendis, dolores aliquam nihil molestias ex adipisci assumenda saepe doloribus explicabo?</blockquote>
<h3>cite</h3>
<cite>http://blablabla.com/</cite>
<h3>s, small, strong, sub, sup, time</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta libero sapiente nam adipisci incidunt <s>ipsa numquam sunt beatae mollitia p</s>orro tenetur <small>perspiciatis error saepe,</small> quisquam at expedita <strong>vitae laborum</strong><sub>2</sub> quaerat<sup>3</sup> dolore dolorum delectus culpa tempore tempora <time>21-03-24 12:00</time>. Reprehenderit, ipsam. Ipsam, distinctio.</p>
<h3>var, code, samp</h3>
<p>  Lorem <var>ipsum</var> dolor sit<code>font-family: roboto,sans-serif</code>amet, consectetur adipisicing elit. Rerum aspernatur dolor dolorem, <samp>atque velit hic eveniet</samp> aliquam omnis accusamus, eius!</p>
<h3>pre > code</h3>

<pre><code>
@mixin board( $color-bg:null, $color-border:null, $color-txt:null ) {
  $color-border: hsl(238, 67%, 16%) !default;
  $color-bg: #f5f5f5 !default;
  $color-txt: $color-border !default;

  background-color: $color-bg;
  margin: 15px 0;
  padding: 15px;
  color: $color-txt;
  border-left: 5px solid $color-border;
}
</code></pre>

<h3>pre > samp</h3>
<pre><!--
--><samp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic recusandae voluptate fugiat doloribus unde vero natus obcaecati provident iste.</samp><!--
--></pre>
<h3>Уведомления</h3>
<div class="msg">Стандартное</div>
<div class="msg msg--info">Информируещее</div>
<div class="msg msg--warning">Предупреждение</div>
<div class="msg msg--danger">Ошибка/Опасноть</div>
<div class="msg msg--success">Все отлично/Успешно прошло</div>
<h3>dl,dt,dd</h3>
<dl>
  <dt>Lorem ipsum dolor sit.</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo inventore ut perferendis qui vel laborum totam quasi, accusamus quisquam architecto!</dd>
  <dt>Lorem ipsum dolor sit.</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo inventore ut perferendis qui vel laborum totam quasi, accusamus quisquam architecto!</dd>
  <dt>Lorem ipsum dolor sit.</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo inventore ut perferendis qui vel laborum totam quasi, accusamus quisquam architecto!</dd>
  <dt>Lorem ipsum dolor sit.</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo inventore ut perferendis qui vel laborum totam quasi, accusamus quisquam architecto!</dd>
</dl>
