<div class="widget u-v-gutter-m">

  <h5 class="widget__title">Lorem ipsum dolor.</h5>

  <ul class="widget__box">

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>
  </ul>
</div>


<div class="widget u-v-gutter-m">

  <h5 class="widget__title">Lorem ipsum dolor.</h5>

  <ul class="widget__box">

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>

    <li class="widget__item">
      <a class="link" href="#">Lorem ipsum dolor.</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>
  </ul>
</div>
