<div class="u-leading-s">
  <a href="#" class="comments__ava">
    <img src="img/re-l.png" alt="Re-l">
  </a>
  <div class="comments__body">
    <a class="comments__owner" href="#">Re-l</a>
    <div class="comments__meta">21-13-23 / 23:02</div>
    <p class="comments__txt">Lorem ipsum dolor...</p>
  </div>
</div>

<div class="u-leading-s">
  <h4><a href="post.html">POST</a></h4>
  <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquid ullam sint amet obcaecati minima!</small></p>
</div>

<div class="u-leading-s">
  <h4><a href="index.html">INDEX</a></h4>
  <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, asperiores!</small></p>
</div>

<div class="u-leading-s">
  <a href="#" class="comments__ava">
    <img src="img/re-l.png" alt="Re-l">
  </a>
  <div class="comments__body">
    <a class="comments__owner" href="#">Re-l</a>
    <div class="comments__meta">21-13-23 / 23:02</div>
    <p class="comments__txt">Lorem ipsum dolor...</p>
  </div>
</div>
