<div class="comments">


  <h4 class="comments__title">Добавить комментарий</h4>

  <div class="comments__add">

    <a href="#" class="comments__ava">
      <img src="img/re-l.png" alt="Re-l">
    </a>

    <form class="comments__body">
      <textarea class="textarea comments__textarea" name="commentTxt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</textarea>
      <div class="u-half-leading-s">
        <button class="btn btn--ok">Добавить</button>
      </div>
    </form>

  </div>


  <h4 class="comments__title">Комментарии</h4>

  <ul class="comments__box">

    <li class="comments__item">

      <a href="#" class="comments__ava">
        <img src="img/re-l.png" alt="Re-l">
      </a>

      <div class="comments__body">
        <a class="link comments__owner" href="#">Re-l</a>
        <span class="comments__meta">21-13-23 / 23:02</span>
        <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</p>
        <div class="u-half-leading-s">
          <button class="btn btn--default u-h-gutter-xxs" type="button">Ответить</button>
          <button class="btn btn--default u-h-gutter-xxs" type="button">Изменить</button>
          <button class="btn btn--default u-h-gutter-xxs" type="button">Удалить</button>
        </div>
      </div>

      <ul class="comments__box comments__box--nested">
        <hr>

        <li class="comments__item">

          <a href="#" class="comments__ava">
            <img src="img/re-l.png" alt="Re-l">
          </a>

          <div class="comments__body">
            <a class="link comments__owner" href="#">Re-l</a>
            <span class="comments__meta">22-13-23 / 23:02</span>
            <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
            <div class="u-half-leading-s">
              <button class="btn btn--default" type="button">Ответить</button>
            </div>
          </div>

          <ul class="comments__box">

            <li class="comments__item">

              <a href="#" class="comments__ava">
                <img src="img/re-l.png" alt="Re-l">
              </a>

              <div class="comments__body">
                <a class="link comments__owner" href="#">Re-l</a>
                <span class="comments__meta">22-13-23 / 23:02</span>
                <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
                <div class="u-half-leading-s">
                  <button class="btn btn--default" type="button">Ответить</button>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="comments__item">

      <a href="#" class="comments__ava">
        <img src="img/re-l.png" alt="Re-l">
      </a>

      <div class="comments__body">
        <a class="link comments__owner" href="#">Re-l</a>
        <span class="comments__meta">21-13-23 / 23:02</span>
        <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</p>
        <div class="u-half-leading-s">
          <button class="btn btn--default" type="button">Ответить</button>
        </div>
      </div>
    </li>

    <li class="comments__item">

      <div class="msg msg--info">
        <a class="link comments__owner" href="#">Re-l</a> удалил свой комментарий
      </div>

      <ul class="comments__box comments__box--nested">
        <hr>

        <li class="comments__item">

          <a href="#" class="comments__ava">
            <img src="img/re-l.png" alt="Re-l">
          </a>

          <div class="comments__body">
            <a class="link comments__owner" href="#">Re-l</a>
            <span class="comments__meta">22-13-23 / 23:02</span>
            <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
            <div class="u-half-leading-s">
              <button class="btn btn--default" type="button">Ответить</button>
            </div>
          </div>

          <div class="msg msg--info">
            <a class="link comments__owner" href="#">Re-l</a> удалил свой комментарий
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
