<div class="comments">
  <hr>


  <h2 class="comments__title">Добавить комментарий</h2>

  <div class="comments__add">

    <a href="#" class="comments__ava">
      <img src="img/re-l.png" alt="Re-l">
    </a>

    <form class="comments__body">
      <textarea class="textarea comments__textarea" name="commentTxt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</textarea>
      <ul class="comments__actions">
        <li class="comments__action">
          <button class="btn btn--ok">Добавить</button>
        </li>
      </ul>
    </form>

  </div>


  <h2 class="comments__title">Комментарии</h2>

  <ul class="comments__box">

    <li class="comments__item">

      <a href="#" class="comments__ava">
        <img src="img/re-l.png" alt="Re-l">
      </a>

      <div class="comments__body">
        <a class="comments__owner" href="#">Re-l</a>
        <div class="comments__meta">21-13-23 / 23:02</div>
        <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</p>
        <ul class="comments__actions">
          <li class="comments__action">
            <button class="btn btn--default" type="button">Ответить</button>
          </li><!--
       --><li class="comments__action">
            <button class="btn btn--default" type="button">Изменить</button>
          </li><!--
       --><li class="comments__action">
            <button class="btn btn--default" type="button">Удалить</button>
          </li>
        </ul>
      </div>

      <ul class="comments__box comments__box--nested">
        <hr>

        <li class="comments__item">

          <a href="#" class="comments__ava">
            <img src="img/re-l.png" alt="Re-l">
          </a>

          <div class="comments__body">
            <a class="comments__owner" href="#">Re-l</a>
            <div class="comments__meta">22-13-23 / 23:02</div>
            <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
            <ul class="comments__actions">
              <li class="comments__action">
                <button class="btn btn--default" type="button">Ответить</button>
              </li>
            </ul>
          </div>

          <ul class="comments__box">

            <li class="comments__item">

              <a href="#" class="comments__ava">
                <img src="img/re-l.png" alt="Re-l">
              </a>

              <div class="comments__body">
                <a class="comments__owner" href="#">Re-l</a>
                <div class="comments__meta">22-13-23 / 23:02</div>
                <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
                <ul class="comments__actions">
                  <li class="comments__action">
                    <button class="btn btn--default" type="button">Ответить</button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="comments__item">

      <a href="#" class="comments__ava">
        <img src="img/re-l.png" alt="Re-l">
      </a>

      <div class="comments__body">
        <a class="comments__owner" href="#">Re-l</a>
        <div class="comments__meta">21-13-23 / 23:02</div>
        <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, veritatis reprehenderit temporibus modi ratione nobis fugiat nihil expedita aspernatur voluptatum quisquam facilis natus fuga adipisci eligendi dolorum, soluta recusandae.</p>
        <ul class="comments__actions">
          <li class="comments__action">
            <button class="btn btn--default" type="button">Ответить</button>
          </li>
        </ul>
      </div>
    </li>

    <li class="comments__item">

      <div class="msg msg--info">
        <a class="comments__owner" href="#">Re-l</a> удалил свой комментарий
      </div>

      <ul class="comments__box comments__box--nested">
        <hr>

        <li class="comments__item">

          <a href="#" class="comments__ava">
            <img src="img/re-l.png" alt="Re-l">
          </a>

          <div class="comments__body">
            <a class="comments__owner" href="#">Re-l</a>
            <div class="comments__meta">22-13-23 / 23:02</div>
            <p class="comments__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit iusto voluptas consequatur? Harum adipisci iure, totam ipsum deserunt maiores distinctio tenetur, fugit dignissimos architecto dolores, molestias natus voluptates iste.</p>
            <ul class="comments__actions">
              <li class="comments__action">
                <button class="btn btn--default" type="button">Ответить</button>
              </li>
            </ul>
          </div>

          <div class="msg msg--info">
            <a class="comments__owner" href="#">Re-l</a> удалил свой комментарий
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
