<head>
  <title>@@title</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <!--<![if !(lte IE 9)]>
    <script>
      if(RegExp && !navigator.userAgent.match(/MSIE [1-9]/))
        document.documentElement.classList.add("IE");
    </script>
  <![endif]> -->
  <!--[if lte IE 8]>
    <script src ="js/vendors/respond.min.js" type="text/javascript"></script>
    <script src ="js/ie.js" type="text/javascript"></script>
  <![endif]-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
</head>
