<tbody class="item-box__item">

  <tr class="item-box__row">

    <td class="item-box__cell item-box__cell--fill item-box__cell--cover" rowspan="2">
      <input id="item0" type="checkbox" hidden>
      <label class="checkbox" for="item0">
        <i class="ico ico--checkmark-5 checkbox__ico"></i>
      </label>
    </td>

    <td  class="item-box__cell" colspan="2">24.24.24 / 15:06,
      <a class="link" href="#">User</a>
      <div class="u-pull-right u-relative">
        <button class="round-btn round-btn--default js-dropdown-toggle" type="button">
          <i class="ico ico--arrow-down"></i>
        </button>
        <ul class="dropdown-box dropdown-box--right js-dropdown">
          <li class="dropdown-box__item"><a class="dropdown-box__link" href="#">Открыть</a></li>
          <li class="dropdown-box__item"><a class="dropdown-box__link" href="#">Редактировать</a></li>
          <li class="dropdown-box__item"><a class="dropdown-box__link" href="#">Удалить</a></li>
        </ul>
      </div>
    </td>

  </tr>

  <tr  class="item-box__row">
    <td class="item-box__cell"  colspan="2">
      <p><b><a class="link" href="#">Lorem ipsum dolor sit amet.</a></b></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nulla earum doloremque vel impedit expedita cupiditate molestias minus voluptatibus commodi.</p>
    </td>
  </tr>


</tbody>
