<div class="nav u-pull-left">
  <ul class="nav__box">
    <li class="nav__item">


      <button class="btn btn--default nav__toggle js-dropdown-toggle" type="button">
        <i class="ico ico--nav-1 btn__only-ico"></i>
      </button>

      <ul class="nav__box nav__box--respons js-dropdown">
        <li class="nav__item nav__item--respons">
          <a class="nav__link nav__link--respons" href="index.html">Индекc</a>
        </li><!--
     --><li class="nav__item nav__item--respons">
          <a class="nav__link nav__link--respons" href="post.html">Пост</a>
        </li><!--
     --><li class="nav__item nav__item--respons">
          <a class="nav__link nav__link--respons" href="user-personal-page.html">Профиль Л.</a>
        </li><!--
     --><li class="nav__item nav__item--respons">
          <a class="nav__link nav__link--respons" href="user-public-page.html">Профиль П.</a>
        </li><!--
     --><li class="nav__item nav__item--respons">
          <a class="nav__link nav__link--respons" href="UI.html">UI</a>
        </li>
      </ul>

    </li>
  </ul>
</div>
