<table class="item-box u-v-gutter-xs">

  <caption class="item-box__title">Публикации</caption>


  <thead>
    <tr class="item-box__row">
      <td class="item-box__cell item-box__cell--fill" colspan="2">

        <div class="item-box__left-bar">
          <small class="iten-box__label">Всего: 10</small>
        </div>

        <div class="item-box__right-bar">

          <small class="iten-box__label">Показать</small>

          <div class="select select--respons item-box__select">
            <div class="btn-group">
              <span class="btn btn--default btn--small">Новые</span><!--
           --><button class="btn btn--default btn--small js-dropdown-toggle" type="button">
                <i class="ico ico--arrow-down btn__only-ico"></i>
              </button>
            </div>
            <ul class="dropdown-box dropdown-box--right js-dropdown">
              <li class="dropdown-box__item"><a href="#" class="dropdown-box__link">Старые</a></li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </thead>


  <include src="_item-box__item-pub.html"></include>
  <include src="_item-box__item-pub.html"></include>
  <include src="_item-box__item-pub.html"></include>


</table>
