<![if !(lte IE 9)]>
<script  type="text/javascript">

;(function(){

  var toggles = document.querySelectorAll(".js-nav-toggle");
  var dropdownToggles = document.querySelectorAll(".js-dropdown-toggle");
  var closeBtns = document.querySelectorAll(".js-box-close");

  responsBtn();
  window.onresize = function(){
    responsBtn();
  };

  Array.prototype.forEach.call(closeBtns,function(btn){
    btn.addEventListener("click",function(e){
      e.preventDefault();
      var box = document.querySelector("[data-box='"+this.dataset["ownerBox"]+"']");
      box.parentElement.classList.remove("pointer");
      box.style.display = "none";

    });
  });

  Array.prototype.forEach.call(toggles,function(toggle){
    toggle.addEventListener("click",function(e){
      e.preventDefault();
      displayToggle(this.parentElement.querySelector(".js-dropdown"));
      this.parentElement.classList.toggle("pointer");
    });
  });

  Array.prototype.forEach.call(dropdownToggles,function(toggle){
    toggle.addEventListener("click",function(e){
      e.preventDefault();
      displayToggle(this.parentElement.querySelector(".js-dropdown"));
    });
  });

  function displayToggle( el ) {
    if(getComputedStyle(el).display !== "none") el.style.display = "none";
    else el.style.display = "block";
  }

  function responsBtn() {
    var responsBtnBox = document.querySelectorAll(".js-respons-btn");
    var forEach = Array.prototype.forEach;

    forEach.call(responsBtnBox, function(box){
      if(!box.dataset.width) box.dataset.width = box.clientWidth;
      var btnGroup = box.querySelector(".btn-group");
      var toggle = box.querySelector(".js-dropdown-toggle");
      var boxWidth = Number(box.dataset.width);
      var parentWidth = box.parentElement.clientWidth;
      var maxWidth;

      if(boxWidth > parentWidth) maxWidth = parentWidth - toggle.offsetWidth - 5;
      else maxWidth = boxWidth - toggle.offsetWidth;

      if(btnGroup.offsetWidth > maxWidth) {
        var len = btnGroup.children.length;
        var lastChild = btnGroup.querySelector(".btn.is-last") || btnGroup.children[len-1];
        var calc = 0;
        var cnt = box.querySelector(".js-dropdown");

        while(btnGroup.offsetWidth - calc > maxWidth) {
            var li = document.createElement("li");
            var link = document.createElement("a");

            li.classList.add("dropdown-box__item");
            link.classList.add("dropdown-box__link");
            link.innerHTML = lastChild.innerHTML;
            link.href = "#";
            if(!lastChild.dataset.width) lastChild.dataset.width = lastChild.offsetWidth;
            lastChild.style.display = "none";
            lastChild.classList.remove("is-last");
            calc += lastChild.offsetWidth;
            lastChild = lastChild.previousElementSibling;
            lastChild.classList.add("is-last");
            li.appendChild(link);
            cnt.appendChild(li);
        }
      }

      else {
        var len = btnGroup.children.length;
        var calc = 0;
        var cnt = box.querySelector(".js-dropdown");
        var cntLen = cnt.children.length;
        ///console.log(maxWidth,boxWidth,parentWidth);


        for(var i = 1; i <= len ;i++) {
          var lastBtn = btnGroup.querySelector(".btn.is-last"),
              nextBtn,
              nextBtnWidth;

          if(!lastBtn) return;
          nextBtn = lastBtn.nextElementSibling;
          nextBtnWidth = Number(nextBtn.dataset.width);

          if(btnGroup.offsetWidth + nextBtnWidth <= maxWidth) {
            var li = cnt.children[cntLen-i];

            cnt.removeChild(li);
            nextBtn.style.display = "inline-block";
            nextBtn.classList.add("is-last");
            lastBtn.classList.remove("is-last");
          } else break;
        }
      }
    });
  }

})();

</script>
<![endif]>
