<h4 class="u-v-gutter-m">Имитация элемента select(раскрывающегося списка)</h4>

<div class="u-v-gutter-m">
  <div class="select-list u-inline-block u-relative u-h-gutter-m">
    <div class="btn-group">
      <button class="btn btn--default" type="button">Item</button><!--
   --><button class="btn btn--default js-dropdown-toggle" type="button">
        <i class="ico ico--arrow-down btn__only-ico"></i>
      </button>
    </div>
    <ul class="dropdown-box js-dropdown">
      <li class="dropdown-box__item"><a href="#" class="dropdown-box__link">Item</a></li>
      <li class="dropdown-box__item"><a href="#" class="dropdown-box__link">Item</a></li>
      <li class="dropdown-box__item"><a href="#" class="dropdown-box__link">Item</a></li>
      <li class="dropdown-box__item"><a href="#" class="dropdown-box__link">Item</a></li>
    </ul>
  </div>
</div>



<h4 class="u-v-gutter-m">Группа кнопок</h4>

<div class="u-v-gutter-m">
  <div class="btn-group u-h-gutter-m">
    <button class="btn btn--default" type="button">Button</button><!--
     --><button class="btn btn--default" type="button">Button</button><!--
     --><button class="btn btn--default" type="button">Button</button><!--
     --><button class="btn btn--default" type="button">Button</button>
  </div>
</div>



<h4 class="u-v-gutter-m">Кнопка</h4>

<div class="u-v-gutter-m">
  <button class="btn btn--default u-h-gutter-m" type="button">Button</button><!--
--><button class="btn btn--ok u-h-gutter-m" type="button">OK</button><!--
--><button class="btn btn--default u-h-gutter-m" type="button">
    <i class="ico ico--search-2 btn__ico"></i>Поиск
  </button><!--
--><button class="btn btn--ok u-h-gutter-m" type="button">
    <i class="ico ico--checkmark-7 btn__ico"></i>Принять
  </button><!--
--><button class="btn btn--default u-h-gutter-m" type="button">
    <i class="ico ico--add-3 btn__only-ico"></i>
  </button>
</div>



<h4 class="u-v-gutter-m">Круглая кнопка</h4>

<div class="u-v-gutter-m">
  <button class="round-btn round-btn--default u-h-gutter-m" type="button">
    <i class="ico ico--arrow-down"></i>
  </button><!--
--><button class="round-btn round-btn--danger u-h-gutter-m" type="button">
    <i class="ico ico--close-5"></i>
  </button>
</div>



<h4 class="u-v-gutter-m">Текстовые поля</h4>

<div class="u-v-gutter-m">
  <input class="txt-field" type="text">
</div>
<div class="u-v-gutter-m">
  <textarea class="textarea" style="width:400px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quas.</textarea>
</div>


<h4 class="u-v-gutter-m">Опция(с модификатором отзывчивости)</h4>

<div class="u-v-gutter-m">
  <div class="option option--respons">
  <input class="u-hide" id="opt1" type="checkbox">
  <label class="option__handler" for="opt1">
    <i class="checkbox option__checkbox">
      <i class="ico ico--checkmark-5 checkbox__ico"></i>
    </i><!--
 --><span>Запомнить меня</span>
  </label>
</div>
</div>

<h4 class="u-v-gutter-m">Группа полей</h4>

<div class="u-v-gutter-m">
<fieldset class="fieldset" style="width:260px">
  <legend class="legend">Опции</legend>
  <div class="option option--respons u-block">
    <input class="u-hide" id="opt2" type="checkbox">
    <label class="option__handler" for="opt2">
      <i class="checkbox option__checkbox">
        <i class="ico ico--checkmark-5 checkbox__ico"></i>
      </i><!--
   --><span>Запомнить меня</span>
    </label>
  </div>
  <div class="option option--respons u-block">
    <input class="u-hide" id="opt3" type="checkbox">
    <label class="option__handler" for="opt3">
      <i class="checkbox option__checkbox">
        <i class="ico ico--checkmark-5 checkbox__ico"></i>
      </i><!--
   --><span>Восстановить пароль</span>
    </label>
  </div>
</fieldset>
<fieldset class="fieldset u-v-gutter-m" style="width:260px">
  <legend class="legend">Заполните поля</legend>
  <input class="txt-field" type="text" style="width:100%">
  <input class="txt-field u-v-gutter-m" type="text"  style="width:100%">
</fieldset>
</div>



<h4 class="u-v-gutter-m">Сообщения</h4>

<div class="u-v-gutter-m">
<div class="msg u-v-gutter-m">Стандартное</div>
<div class="msg msg--info u-v-gutter-m">Информируещее</div>
<div class="msg msg--warning u-v-gutter-m">Предупреждение</div>
<div class="msg msg--danger u-v-gutter-m">Ошибка/Опасноть</div>
<div class="msg msg--success u-v-gutter-m">Все отлично/Успешно прошло</div>
</div>

