<div class="user-board">


  <div class="widget">

    <a href="user.html">
      <img class="user-ava user-ava--xl" src="img/re-l.png">
    </a>

  </div>


  <div class="widget u-v-gutter-m">

    <h5 class="widget__title">Личные данные</h5>

    <ul class="widget__box">

      <li class="u-v-gutter-xxs">
        <a class="link" href="user.html"><b>Re-l</b></a><span class="user-status mark-success">Online</span>
      </li>

      <li class="u-v-gutter-xxs">Контакты:</li>

      <li class="u-v-gutter-xxs">mail@mail.com</a></li>

      <li class="u-v-gutter-xxs"><a class="link" href="user.html">vk.com/user</a></li>

      <li class="u-v-gutter-xxs"><a class="link" href="user.html">facebook.com/user</a></li>

    </ul>

  </div>


  <div class="widget u-v-gutter-m">

    <h5 class="widget__title">Недавняя активность</h5>

    <ul class="widget__box">

      <li class="u-v-gutter-xxs">
        <a class="link" href="#">Lorem ipsum dolor.</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      </li>

      <li class="u-v-gutter-xxs">
        <a class="link" href="#">Lorem ipsum dolor.</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      </li>

      <li class="u-v-gutter-xxs">
        <a class="link" href="#">Lorem ipsum dolor.</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      </li>
    </ul>
  </div>


</div>
