<div class="user-board">


  <div class="widget">

    <a href="user.html">
      <img class="user-ava user-ava--xxl" src="img/re-l.png">
    </a>

  </div>


  <div class="widget u-v-gutter-m">

    <h5 class="widget__title">Личные данные</h5>

    <ul class="widget__box">

      <li>
        <a class="link" href="user.html"><b>Re-l</b></a><span class="user-status mark-success">Online</span>
      </li>

      <li>Контакты:</li>

      <li>mail@mail.com</a></li>

      <li><a class="link" href="user.html">vk.com/user</a></li>

      <li><a class="link" href="user.html">facebook.com/user</a></li>

    </ul>

  </div>


  <div class="widget u-v-gutter-m">

    <h5 class="widget__title">Недавняя активность</h5>

    <ul class="widget__box">

      <li class="widget__item">
        <a class="link" href="#"><small>Lorem ipsum dolor.</small></a>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small></p>
      </li>

      <li class="widget__item">
        <a class="link" href="#"><small>Lorem ipsum dolor.</small></a>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small></p>
      </li>

      <li class="widget__item">
        <a class="link" href="#"><small>Lorem ipsum dolor.</small></a>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small></p>
      </li>
    </ul>
  </div>


</div>
