@at-root {

  /// Параметры
  $font-size: $font-size-s;
  $line-height: $rhythm-one-quarter*3;
  $ico-size: $line-height;
  $height: $rhythm-one-quarter*5;
  $v-padding: $rhythm-border-one-quarter;
  $h-padding: 8px;
  $border-radius: 3px;
  $shadow: 8px;



  .btn {
    height: $height;
    padding: $v-padding $h-padding;
    font-size: $font-size;
    line-height: $line-height;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: $border-radius;
    outline: 0;
    background: #fff;

    &__ico,
    &__ico.ico,
    &__only-ico,
    &__only-ico.ico {
      vertical-align: text-bottom;
      font-size: $ico-size;
    }

    &__ico,
    &__ico.ico {
      margin-right: 3px;
    }
  }

  .btn--small {
    @include v-padding(($rhythm-borders-one/2)-8px);
    height: $rhythm-one;
    font-size: $font-size-xs;
    line-height: 16px;

    .btn__ico,
    .btn__ico.ico,
    .btn__only-ico,
    .btn__only-ico.ico {
      font-size: 16px;
    }
  }

  .btn--default {

    /// Цвета
    $color-bg-default: hsl(0,0%,92%);
    $color-bg: lighten($color-bg-default,5%);
    $color-txt: darken($color-bg-default,42%);
    $color-grad-start: lighten($color-bg-default,7%);
    $color-grad-end: $color-bg-default;
    $color-grad-hover-start: lighten($color-bg-default,7%);
    $color-grad-hover-end: lighten($color-bg-default,2%);
    $color-shadow: lighten($color-bg-default,2%);



    background-color: $color-bg;
    @include v-gradient($color-grad-start,$color-grad-end);
    border-color: darken($color-bg-default,2%);
    color: $color-txt;

    &:hover,
    &:focus {
      background-color: lighten($color-bg-default,6%);
      @include v-gradient($color-grad-hover-start,$color-grad-hover-end);
      color: darken($color-txt,9%);
    }

    &:active {
      background-color: lighten($color-bg-default,4%);
      @include v-gradient($color-grad-hover-end,$color-grad-hover-start);
      box-shadow: 0 0 $shadow $color-shadow;
    }
  }

  .btn--ok {

    /// Цвета
    $color-bg-default: hsl(123, 76%, 50%);
    $color-bg: lighten($color-bg-default,15%);
    $color-txt: #fff;
    $color-grad-start: lighten($color-bg-default,22%);
    $color-grad-end: $color-bg-default;
    $color-grad-hover-start: lighten($color-bg-default,25%);
    $color-grad-hover-end: lighten($color-bg-default,8%);
    $color-shadow: lighten($color-bg-default,16%);



    background-color: $color-bg;
    @include v-gradient($color-grad-start,$color-grad-end);
    border-color: darken($color-bg-default,3%);
    color: $color-txt;

    &:hover,
    &:focus {
      background-color: lighten($color-bg-default,18%);
      @include v-gradient($color-grad-hover-start,$color-grad-hover-end);
      color: $color-txt;
    }

    &:active {
      background-color: lighten($color-bg-default,14%);
      @include v-gradient($color-grad-hover-end,$color-grad-hover-start);
      box-shadow: 0 0 $shadow $color-shadow;
    }
  }

  .btn.is-disable {

    /// Цвета
    $color-bg-default: hsl(0,0%,91%);
    $color-bg: lighten($color-bg-default,5%);
    $color-txt: darken($color-bg-default,25%);
    $color-grad-start: lighten($color-bg-default,3%);
    $color-grad-end: $color-bg-default;



    background-color: $color-bg;
    @include v-gradient($color-grad-end,$color-grad-start);
    border-color: darken($color-bg-default,2%);
    color: $color-txt;
    cursor: default;
    box-shadow: none;
  }

  .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    white-space: nowrap;

    > .btn {
      margin-left: -1px;
      border-radius: 0;
    }

    > .btn:first-child {
      @include border-left-radius(3px);
    }

    > .btn:last-child,
    > .btn.is-last {
      @include border-right-radius(3px);
    }
  }

}



/// Круглая мини-кнопка

@at-root {

  // Параметры
  $size: $rhythm-one-quarter*3;
  $ico-size: $rhythm-one-half;
  $padding: $rhythm-borders-one-quarter/2;

  // Цвета
  $color-bg-close: lighten(#ff6067,10%);
  $color-txt-close: hsl(0,0%,99%);
  $color-border-close: #444;



  .round-btn {
    @include size($size);
    padding: $padding;
    font-size: $ico-size;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: 0;
    background: #fff;
  }

  .round-btn--default {
    background-color: hsl(0,0%,95%);
    color: hsl(0,0%,60%);
    border-color: hsl(0,0%,90%);

    &:hover,
    &:focus {
      border-color: hsl(0,0%,20%);
    }

    &:active { background-color: hsl(0,0%,90%); }
  }

  .round-btn--danger {
    background-color: $color-bg-close;
    color: $color-txt-close;

    &:hover,
    &:focus {
      border-color: $color-border-close;
    }

    &:active { background-color: darken($color-bg-close,7%); }
  }
}
