@at-root {

  .footer {
    @extend %u-clearfix;
    font-size: $font-size-s;
    font-family: monospace;
    color: hsl(0,0%,75%);
    text-align: center;

    &__left-side {
      float: left;
    }

    &__right-side {
      float: right;
    }

    &__left-side,
    &__right-side {

      /// Медиа-запросы
      @include media-mx-w($screen-m) {
        float: none;
      }
    }
  }
}
