@at-root {

  $height: $height-header;
  $glyph-size: 40px;
  $glyph-color: #000;

  .logo {
    @include v-padding(4px);
    height: $rhythm-one*2;
    display: inline-block;
    vertical-align: middle;
    color: $glyph-color;

    &__ico,
    &__ico.ico {
      font-size: $glyph-size;
    }
  }
}
