@at-root {

  /// Параметры
  $font-size: $font-size-s;



  .widget {
    @include adjust-font-size-to($font-size);
    color: hsl(0,0%,50%);

    &__title {
      @include h-padding(6px);
      background-color: hsl(0,0%,97%);
      color: hsl(0,0%,68%);
      border-left: 4px solid;
    }

    &__body {
      background-color: #fff;
    }

    &__box {
      padding: $rhythm-one-half 4px;
      background-color: #fff;
    }

    &__item {
      @include margin-leader(0.5);

      &:first-child {
        @include margin-leader(0);
      }
    }
  }
}
