@mixin overlay-box( $border-rad:null, $shadow:null ) {
  $border-rad: 5px !default;
  $shadow: 20px !default;

  border: 1px solid hsl(0,0%,93%);
  border-radius: $border-rad;
  background-color: hsl(0,0%,99%);
  box-shadow: 0 0 $shadow hsl(0,0%,91%);
}

@mixin size( $width, $height:$width ) {
  width: $width;
  height: $height;
}

@mixin rem-size( $width, $height:$width, $use-px-fallback:$rem-with-px-fallback ) {
  @include rem('width', $width, $use-px-fallback);
  @include rem('height', $height, $use-px-fallback);
}

@mixin board( $color-bg:null, $color-border:null, $color-txt:null ) {
  $color-border: hsl(238, 67%, 16%) !default;
  $color-bg: #f5f5f5 !default;
  $color-txt: $color-border !default;

  background-color: $color-bg;
  color: $color-txt;
  border-left: 5px solid $color-border;
}

@mixin v-padding( $size ) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin h-padding( $size ) {
  padding-left: $size;
  padding-right: $size;
}

@mixin padding( $type, $size ) {
  @if $type == 'v' { @include v-padding( $size ) }
  @if $type == 'h' { @include h-padding( $size ) }
}

@mixin v-margin( $size ) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin h-margin( $size ) {
  margin-left: $size;
  margin-right: $size;
}

@mixin margin( $type, $size ) {
  @if $type == 'v' { @include v-margin( $size ) }
  @if $type == 'h' { @include h-margin( $size ) }
}

@mixin v-pos( $size ) {
  top: $size;
  bottom: $size;
}

@mixin h-pos( $size ) {
  left: $size;
  right: $size;
}

@mixin pos( $type, $size ) {
  @if $type == 'v' { @include v-pos( $size ) }
  @if $type == 'h' { @include h-pos( $size ) }
}

@mixin media-mx-w( $val ) {
  @media screen and (max-width: $val) { @content; }
}

@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after { clear: both; }
}
