@mixin overlay-box( $border-rad:null, $shadow:null ) {
  $border-rad: 5px !default;
  $shadow: 20px !default;

  border: 1px solid hsl(0,0%,93%);
  border-radius: $border-rad;
  background-color: hsl(0,0%,99%);
  box-shadow: 0 0 $shadow hsl(0,0%,91%);
}

@mixin size( $width, $height:$width ) {
  width: $width;
  height: $height;
}

@mixin board( $color-bg:null, $color-border:null, $color-txt:null ) {
  $color-border: hsl(238, 67%, 16%) !default;
  $color-bg: #f5f5f5 !default;
  $color-txt: $color-border !default;

  background-color: $color-bg;
  margin: 15px 0;
  padding: 15px;
  color: $color-txt;
  border-left: 5px solid $color-border;
}

@mixin v-padding( $size ) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin h-padding( $size ) {
  padding-left: $size;
  padding-right: $size;
}

@mixin padding( $type, $size ) {
  @if $type == 'v' { @include v-padding( $size ) }
  @if $type == 'h' { @include h-padding( $size ) }
}
