/**
 * Прижимает footer к низу странички сайта.
 *
 * Описание: http://ryanfait.com/resources/footer-stick-to-bottom-of-page
 *
 * Структура HTML:
 *
 * body
 *   %u-push-footer-down - прижимает футер к низу
 *     <content>
 *   %u-footer
 *
 */

/// Высота футера
$height-footer: 70px !default;

/// Стиль для html, body тега
%u-view-height { height: 100%; }

%u-push-footer-down {
  min-height: 100%;
  margin-bottom: -$height-footer;

  &:after {
    content: "";
    display: block;
    height: $height-footer;
  }
}

%u-footer { height: $height-footer; }



/// Очистка потока
%u-clearfix:before,
%u-clearfix:after {
  content: ' ';
  display: table;
}

%u-clearfix:after { clear: both; }



/// Leading-и(вертикальные отступы)

$leading-step: 5px;

%u-leading-xxs { @include v-padding($leading-step);   }
%u-leading-xs  { @include v-padding($leading-step*2); }
%u-leading-s   { @include v-padding($leading-step*3); }
%u-leading-m   { @include v-padding($leading-step*4); }
%u-leading-l   { @include v-padding($leading-step*5); }
%u-leading-xl  { @include v-padding($leading-step*6); }
%u-leading-xxl { @include v-padding($leading-step*7); }



/// расстояние между элементами

$gutter-step: 5px;

%u-gutter-xxs { margin-left: $gutter-step;   &:first-child { margin-left: 0; } }
%u-gutter-xs  { margin-left: $gutter-step*2; &:first-child { margin-left: 0; } }
%u-gutter-s   { margin-left: $gutter-step*3; &:first-child { margin-left: 0; } }
%u-gutter-m   { margin-left: $gutter-step*4; &:first-child { margin-left: 0; } }
%u-gutter-l   { margin-left: $gutter-step*5; &:first-child { margin-left: 0; } }
%u-gutter-xl  { margin-left: $gutter-step*6; &:first-child { margin-left: 0; } }
%u-gutter-xxl { margin-left: $gutter-step*7; &:first-child { margin-left: 0; } }
