/**
 * Прижимает footer к низу странички сайта.
 *
 * Описание: http://ryanfait.com/resources/footer-stick-to-bottom-of-page
 *
 * Структура HTML:
 *
 * body
 *   %u-push-footer-down - прижимает футер к низу
 *     <content>
 *   %u-footer
 *
 */

/// Высота футера
$height-footer: 70px !default;

/// Стиль для html, body тега
%u-view-height { height: 100%; }

%u-push-footer-down {
  margin-bottom: -$height-footer;
  min-height: 100%;

  &:after {
    height: $height-footer;
    content: "";
    display: block;
  }
}

%u-footer {
  height: $height-footer;
}



/// Очистка потока
%u-clearfix:before,
%u-clearfix:after {
  content: ' ';
  display: table;
}

%u-clearfix:after { clear: both; }



/// Leading-и(вертикальные отступы)

$u-leading-step: 3px !default;

%u-half-leading-xxs { @include v-padding($u-leading-step   !important); }
%u-half-leading-xs  { @include v-padding($u-leading-step*2 !important); }
%u-half-leading-s   { @include v-padding($u-leading-step*3 !important); }
%u-half-leading-m   { @include v-padding($u-leading-step*4 !important); }
%u-half-leading-l   { @include v-padding($u-leading-step*5 !important); }
%u-half-leading-xl  { @include v-padding($u-leading-step*6 !important); }
%u-half-leading-xxl { @include v-padding($u-leading-step*7 !important); }
%u-leading-xxs { @include v-padding($u-leading-step*2 !important); }
%u-leading-xs  { @include v-padding($u-leading-step*4 !important); }
%u-leading-s   { @include v-padding($u-leading-step*6 !important); }
%u-leading-m   { @include v-padding($u-leading-step*8 !important); }
%u-leading-l   { @include v-padding($u-leading-step*10 !important); }
%u-leading-xl  { @include v-padding($u-leading-step*12 !important); }
%u-leading-xxl { @include v-padding($u-leading-step*14 !important); }



/// расстояние между элементами

$u-h-gutter-step: 6px !default;
$u-v-gutter-step: 6px !default;

%u-h-gutter-xxs { margin-left: $u-h-gutter-step   !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-xs  { margin-left: $u-h-gutter-step*2 !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-s   { margin-left: $u-h-gutter-step*3 !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-m   { margin-left: $u-h-gutter-step*4 !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-l   { margin-left: $u-h-gutter-step*5 !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-xl  { margin-left: $u-h-gutter-step*6 !important; &:first-child { margin-left: 0 !important; } }
%u-h-gutter-xxl { margin-left: $u-h-gutter-step*7 !important; &:first-child { margin-left: 0 !important; } }

%u-v-gutter-xxs { margin-top: $u-v-gutter-step   !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-xs  { margin-top: $u-v-gutter-step*2 !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-s   { margin-top: $u-v-gutter-step*3 !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-m   { margin-top: $u-v-gutter-step*4 !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-l   { margin-top: $u-v-gutter-step*5 !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-xl  { margin-top: $u-v-gutter-step*6 !important; &:first-child { margin-top: 0 !important; } }
%u-v-gutter-xxl { margin-top: $u-v-gutter-step*7 !important; &:first-child { margin-top: 0 !important; } }



// Скрытие элемента после достижения определенного размера экрана
// +1px чтобы не было разногласий с max-width

%u-hide-after-s {
  @media screen and (min-width: ($screen-s)+1px) {
    display: none !important;
  }
}

%u-hide-after-m {
  @media screen and (min-width: ($screen-m)+1px) {
    display: none !important;
  }
}

%u-hide-after-l {
  @media screen and (min-width: ($screen-l)+1px) {
    display: none !important;
  }
}

%u-hide-after-xl {
  @media screen and (min-width: ($screen-xl)+1px) {
    display: none !important;
  }
}



// Скрытие элемента до достижения определенного размера экрана

%u-hide-before-s {
  @media screen and (max-width: $screen-s) {
    display: none !important;
  }
}

%u-hide-before-m {
  @media screen and (max-width: $screen-m) {
    display: none !important;
  }
}

%u-hide-before-l {
  @media screen and (max-width: $screen-l) {
    display: none !important;
  }
}

%u-hide-before-xl {
  @media screen and (max-width: $screen-xl) {
    display: none !important;
  }
}
