@at-root {

  /// Параметры
  $ava-size: $rhythm-one*2;
  $margin-left-body: ($ava-size)+($rhythm-one-quarter);
  $font-family: $font-family-roboto;

  /// Цвета
  $color-txt-owner: #4CD2EA;
  $color-txt: hsl(238, 67%, 16%);



  .comments {

    &__title,
    &__add,
    & > &__box > &__item {
      @include margin-trailer(1);

      &:last-child {
        @include margin-trailer(0);
      }
    }

    &__title {
      font-family: $font-family;
    }

    &__box {

      &--nested {
        margin-left: $margin-left-body;

        /// Медиа-запросы
        @include media-mx-w($screen-s) {
          margin-left: 0;
        }
      }
    }

    &__textarea.textarea {
      min-height: $rhythm-one*5;
      vertical-align: top;
      max-width: 100%;
      min-width: 100%;
    }

    //&__item { @include v-padding($v-padding-item); }

    &__ava {
      @include size($ava-size);
      display: block;
      float: left;

      img {
        @include size(100%);
        vertical-align: middle;
      }

      /// Медиа-запросы
      @include media-mx-w($screen-s) {
        float: none;
      }
    }

    &__body {
      margin-left: $margin-left-body;

      /// Медиа-запросы
      @include media-mx-w($screen-s) {
        margin-left: 0;
      }
    }

    &__owner {
      display: inline;
      margin-right: $rhythm-one-quarter;
      font-weight: bold;
    }

    &__meta {
      @include h-padding(6px);
      display: inline;
      font-size: 14px;
      line-height: normal;
      background-color: #F0F0F0;
      border-radius: 3px;
      color: #A5A5A5;
    }

    &__txt {
      @include adjust-font-size-to($font-size-s);
      font-family: $font-family;
      color: $color-txt;
    }
  }
}
