/**
 * 1. При наличии вертикальных margin > 0 первого/последнего элемента
 * блока-родителя отталкивание происходит не от границ блока-родителя,
 * а от границ соседа блока-родителя. вертикальные padding: 1px
 * исправляют эту проблему.
 *
 * ...
 * </сосед>
 * <блок-родитель>
 *   <элемент с margin-top>
 *   <элемент с margin-bottom>
 * </блок-родитель>
 * <сосед>
 * ...
 */

@at-root {

  /// Параметры
  $ava-size: 50px;
  $margin-left-body: ($ava-size)+8px;
  $font-family: $font-family-roboto;
  $min-height-textarea: 100px;
  $v-padding-item: 6px;
  $v-padding-box: 10px;

  /// Цвета
  $color-txt-owner: #4CD2EA;
  $color-txt: hsl(238, 67%, 16%);



  .comments {
    @include v-padding(1px); /* 1 */

    &__title {
      font-family: $font-family;
      line-height: 1.5;
      padding-bottom: 15px;
    }

    &__box {
      padding-top: 1px; /* 1 */
      padding-bottom: $v-padding-box;

      &--nested {
        margin-left: $margin-left-body;

        /// Медиа-запросы
        @include media-mx-w($screen-s) {
          margin-left: 0;
        }
      }
    }

    &__add { margin-bottom: 30px; }

    &__textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: $min-height-textarea;
    }

    &__item { @include v-padding($v-padding-item); }

    &__ava {
      @include size($ava-size);
      display: block;
      float: left;

      img {
        @include size(100%);
        vertical-align: middle;
      }

      /// Медиа-запросы
      @include media-mx-w($screen-s) {
        float: none;
        margin-bottom: 5px;
      }
    }

    &__body {
      margin-left: $margin-left-body;
      line-height: 1.3;

      /// Медиа-запросы
      @include media-mx-w($screen-s) {
        margin-left: 0;
      }
    }

    &__owner {
      display: inline;
      margin-right: 5px;
      font-weight: bold;
    }

    &__meta {
      @include h-padding(6px);
      display: inline;
      font-size: 14px;
      background-color: #F0F0F0;
      border-radius: 3px;
      color: #A5A5A5;
    }

    &__txt {
      @include v-padding(4px);
      font-family: $font-family;
      line-height: 1.3;
      color: $color-txt;
    }

    &__actions { @include v-padding(4px); }

    &__action {
      display: inline-block;

      & + & { margin-left: 7px; }
    }
  }
}
