@at-root {

  /// Параметры
  $z-index: $z-index-dropdown-box;
  $height-link: ($rhythm-one-quarter*5)-1px;
  $line-height-link: $rhythm-one-quarter*3;
  $font-size-link: $font-size-s;



  .dropdown-box {
    @include overlay-box();
    @include v-padding(4px);
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 6px;
    min-width: 160px;
    z-index: $z-index;

    &--right { right: 0; }

    &.is-opened {
      display: block;
      z-index: ($z-index)+1;
    }

    &__item {
      border-top: 1px solid transparent;

      & + & {
        border-color: hsl(0,0%,93%);
      }
    }

    &__actions {
      @include h-padding(4px);
      text-align: right;
      line-height: 1;
    }

    &__link {
      display: block;
      padding: $rhythm-border-one-quarter 6px $rhythm-one-quarter;
      height: $height-link;
      font-size: $font-size-link;
      line-height: $line-height-link;
      color: hsl(0,0%,50%);

      &:hover,
      &:focus {
        background-color: hsl(54, 100%, 93%);
      }
    }
  }
}
