/**
  * 1. Убирает внутренние тени сверху на iOS(и специальные стили)
  */

@at-root {

  /// Параметры
  $border-radius: 3px;
  $padding: 14px;

  /// Цвета
  $color-border: hsl(0,0%,93%);
  $color-txt: hsl(0,0%,69%);



  .form {
    padding: $padding;
    color: $color-txt;

    &__field,
    &__field.txt-field {
      display: block;
      width: 100%;
      margin-bottom: 15px;

      &:last-of-type { margin-bottom: 0; }
    }

    &__field-caption,
    &__field-caption.label {
      display: block;
      margin-left: 7px;
      margin-bottom: 4px;
    }

    &__fieldset,
    &__fieldset.fieldset {
      width: 100%;
      margin-top: 15px;
    }

    &__option,
    &__option.option {
      display: block;

      & + & { margin-top: 5px; }
    }
  }

  .label,
  .legend {
    font-size: 13px;
    line-height: (16/13);
  }

  .fieldset {
    @include h-margin(0);
    padding: 12px;
    line-height: (24/16);
    border: 1px solid $color-border;
    border-radius: 5px;
  }
}



/**
 * Элемент опция
 *
 * Структура HTMl:
 *
 *   .option
 *     input[type="checkbox"]
 *     .option__handler
 *       .option__checkbox.checkbox
 *         .option__ico.ico
 *       span{Текст}
 */

@at-root {

  /// Параметры
  $font-size: 14px;
  $respons-v-padding: 6px;
  $respons-h-padding: 8px;

  /// Цвета
  $color-bg: hsl(54, 100%, 93%);
  $color-border: hsl(0,0%,93%);



  .option {
    display: inline-block;
    font-size: $font-size;

    &__checkbox,
    &__checkbox.checkbox { margin-right: 4px; }

    input[type="checkbox"]:checked + &__handler {

      > .checkbox:not(.is-checked) {
        background-color: lighten($color-bg,4%);

        > .checkbox__ico,
        > .checkbox__ico.ico { display: inline; }
      }
    }

    /// Отзывчивость
    &--respons {

      @include media-mx-w($screen-l) {

        .option__handler {
          display: block;
          padding: $respons-v-padding $respons-h-padding;
          border: 1px solid $color-border;
          border-radius: 3px;
          background-color: lighten($color-bg,5%);
        }

        input[type="checkbox"]:checked + .option__handler {
          background-color: $color-bg;
        }
      }
    }
  }
}



/// Чекбокс

@at-root {

  /// Параметры
  $size: 16px;
  $font-size: 10px;
  $padding: (($size - $font-size)-2px)/2;

  /// Цвета
  $color-bg: hsl(54, 100%, 93%);
  $color-border: hsl(0,0%,93%);
  $color-txt: lighten(#ff6067,10%);



  .checkbox {
    @include size($size);
    display: inline-block;
    vertical-align: text-bottom;
    padding: $padding;
    font-size: $font-size;
    line-height: 1;
    border: 1px solid $color-border;
    background-color: $color-bg;
    color: $color-txt;

    &__ico,
    &__ico.ico { display: none; }

    &.is-checked,
    input[type="checkbox"]:checked + &:not(.is-checked) {
      background-color: lighten($color-bg,4%);

      > .checkbox__ico,
      > .checkbox__ico.ico { display: inline; }
    }
  }
}



/// Текстовые поля

@at-root {

  /// Параметры
  $font-size: 14px;
  $border-radius: 3px;
  $shadow: 12px;

  /// Цвета
  $color-bg: hsl(54, 100%, 93%);
  $color-border: hsl(0,0%,93%);
  $color-txt: hsl(0,0%,69%);
  $color-shadow: hsl(0,0%,90%);



  .txt-field,
  .textarea {
    padding: 8px;
    font-size: $font-size;
    background-color: $color-bg;
    line-height: 1;
    outline: 0;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    color: $color-txt;
    -webkit-appearance: none; /* 1 */

    &:hover,
    &:active { background-color: lighten($color-bg,3%); }
    &:focus {
      color: darken($color-txt,70%);
      background-color: lighten($color-bg,4%);
      box-shadow: 0 0 $shadow $color-shadow;
    }
  }

  .textarea {
    border-radius: 0;
    line-height: 1.3;
  }
}
