/**
  * 1. Убирает внутренние тени сверху на iOS(и специальные стили)
  */

@at-root {

  /// Параметры
  $border-radius: 3px;
  $padding: 14px;

  /// Цвета
  $color-border: hsl(0,0%,93%);
  $color-txt: hsl(0,0%,69%);



  .form {
    padding: em($padding);
    color: $color-txt;

    &__actions {
      padding-top: em(14px);
      padding-bottom: em(14px);
    }

    &__action {
      display: inline-block;

      & + & { margin-left: em(7px); }
    }

    &__field.txt-field {
      display: block;
      width: 100%;
      margin-bottom: em(15px);

      &:last-of-type { margin-bottom: 0; }
    }

    &__field-caption.label {
      display: block;
      margin-left: em(7px);
      margin-bottom: em(4px);
    }

    &__fieldset.fieldset {
      width: 100%;
      margin-top: em(15px);
    }

    &__option.option { display: block; }

    ///&__option + &__option { margin-top: em(8px); }
  }

  .label,
  .legend {
    font-size: em(13px);
    line-height: (16/13);
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: em(12px);
    line-height: (24/16);
    border: 1px solid $color-border;
    border-radius: 5px;
  }

  .option {
    display: inline-block;

    span { font-size: em(14px); }

    &__checkbox.pseudo-checkbox { margin-right: 4px; }

    &--responsive {}
  }

}


// Чекбокс

@at-root {

  /// Параметры
  $size: 16px;
  $font-size: 10px;
  $padding: (($size - $font-size)-2px)/2;

  /// Цвета
  $color-bg: hsl(54, 100%, 93%);
  $color-border: hsl(0,0%,93%);
  $color-txt: lighten(#ff6067,10%);



  .pseudo-checkbox {

    @include size(em($size,$font-size));

    display: inline-block;
    vertical-align: middle;
    padding: em($padding,$font-size);
    font-size: em($font-size);
    border: 1px solid $color-border;
    background-color: $color-bg;
    color: $color-txt;

    > .ico { display: none; }

    input[type="checkbox"]:checked + &:not(.is-checked),
    &.is-checked {
      background-color: lighten($color-bg,4%);

      > .ico { display: inline; }
    }
  }
}



/// Текстовые поля

@at-root {

  /// Параметры
  $font-size: 14px;
  $border-radius: 3px;
  $shadow: 12px;

  /// Цвета
  $color-bg: hsl(54, 100%, 93%);
  $color-border: hsl(0,0%,93%);
  $color-txt: hsl(0,0%,69%);
  $color-shadow: hsl(0,0%,90%);



  .txt-field,
  .textarea {
    padding: em(8px,$font-size);
    font-size: em($font-size);
    background-color: $color-bg;
    line-height: 1;
    outline: 0;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    color: $color-txt;
    -webkit-appearance: none; /* 1 */

    &:hover,
    &:active { background-color: lighten($color-bg,3%); }
    &:focus {
      color: darken($color-txt,70%);
      background-color: lighten($color-bg,4%);
      box-shadow: 0 0 $shadow $color-shadow;
    }
  }

  .textarea {
    border-radius: 0;
    line-height: 1.3;
  }
}
