/**
 * Пример структуры HTML:
 *
 * table.item-box
 *   caption.&__title
 *   thead
 *     tr.&__row
 *       td.&__cell
 *   tbody.&__item
 *     tr.&__row
 *       td.&__cell
 *   tfoot
 *     tr.&__row
 *       td.&__cell
 *
 *
 * 1. Этот способ - альтернатива 'border-collapse: collapse'.
 *    С 'border-collapse: collapse' проблема только в WebKit
 *    движках(Safari, Chrome): если после элемента caption идет
 *    элемент, который содержит элемент td с colspan > 1, и при этом
 *    caption и все td имеют не 0-й border, а у таблицы выставлен
 *    'border-collapse: collapse', то ширина caption становится на 1px
 *    меньше(уменьшается справой стороны) - это расхождение очень раздражает,
 *    как в плане того, что оно есть, так в плане того, что оно только
 *    на webkit(на сколько я заметил). Не знаю в чем причина такой бабуйни.
 *
 *    Побочные эффекты:
 *
 *      * к .item-box лучше не применять вертикальные отступы
 */

@at-root {

  .item-box {
    @include adjust-font-size-to(14px);
    width: 100%;
    // border-top: 1px solid hsl(0,0%,93%); /* 1 */
    border-left: 1px solid hsl(0,0%,93%); /* 1 */
    border-collapse: separate; /* 1 */
    background-color: #fff;


    //&__row {}

    &__cell {
      padding: $rhythm-one-quarter 8px $rhythm-border-one-quarter;
      border-right: 1px solid hsl(0,0%,93%); /* 1 */
      border-bottom: 1px solid hsl(0,0%,93%); /* 1 */
      color: hsl(0,0%,30%);

      &--cover { width: 1px; } // Описать
    }

    &__row--fill,
    &__cell--fill {
      background-color: hsl(0,0%,99%);
    }

    &__title {
      @include border-top-radius(3px);
      @include h-padding(8px);
      font-weight: bold;
      text-align: left;
      line-height: $rhythm-border-one;
      border: 1px solid hsl(0,0%,93%);
      border-bottom: none;
      background-color: hsl(0,0%,97%);
      color: hsl(0,0%,68%);
    }

    &__item {}

    &__left-bar {
      float: left;
    }

    &__right-bar {
      float: right;
    }

    &__left-bar,
    &__right-bar {
      @include media-mx-w($screen-s) {
        float: none;
      }
    }

    &__label,
    &__select.select {
      margin-left: $rhythm-one-quarter;

      &:first-child {
        margin-left: 0;
      }

      @include media-mx-w($screen-s) {
        margin-left: 0;
      }
    }

    &__label {
      @include media-mx-w($screen-s) {
        display: block;
      }
    }
  }
}
