@at-root {

  $height: $height-header;
  $glyph-size: 40px;
  $glyph-color: #000;

  .logo {
    display: inline-block;
    vertical-align: text-bottom;
    color: $glyph-color;

    &__ico,
    &__ico.ico {
      font-size: $glyph-size;
      line-height: $height;
    }

    /// Медиа-запросы
    @include media-mx-w($screen-l) {
      @include h-margin(auto);
      @include h-pos(0);
      position: absolute;
      width: $glyph-size;
    }
  }
}
