@at-root {

  $height: 50px;
  $glyph-size: 40px;
  $glyph-color: #000;

  .logo {
    display: inline-block;
    color: $glyph-color;

    > .ico {
      font-size: em($glyph-size);
      line-height: em($height,$glyph-size);
    }
  }
}
