/**
 * Сообщение/уведомление на сайте для пользователя
 */

@at-root {

  /// Параметры
  $font-family: $font-family-roboto;
  $font-size: 13px;

  /// Цвета
  $color-border-default: hsl(0,0%,90%);
  $color-bg-default: hsl(0,0%,99%);
  $color-txt-default: hsl(0,0%,50%);



  .msg {
    position: relative;
    display: block;
    padding: em(10px,$font-size);
    margin: 5px;
    font-family: $font-family;
    line-height: 1.2;
    font-size: em($font-size);
    text-align: center;
    border: 1px solid $color-border-default;
    border-radius: 3px;
    background: $color-bg-default;
    color: $color-txt-default;
    cursor: help;

    &--info {
      border-color: #BEEEFF;
      background-color: #EFFBFF;
      color: #79BED7;
    }

    &--warning {
      border-color: #FFEE96;
      background-color: #FFFCE4;
      color: #D7B679;
    }

    &--danger {
      border-color: #FFBEBE;
      background-color: #FFEFEF;
      color: #D77979;
    }

    &--success {
      border-color: #D3FFA3;
      background-color: #EBFFDF;
      color: #9FD779;
    }
  }
}
