@at-root {

  /// Параметры
  $width-dropdown-box: 260px;



  .nav {
    position: relative;

    &__box {

      /// Отзывчивость
      &--respons {
        @include media-mx-w($screen-l) {
          @include overlay-box();
          @include v-padding(4px);
          display: none;
          position: absolute;
          top: $height-header;
          margin-top: 14px;
          width: $width-dropdown-box;
          z-index: $z-index-dropdown-box;
        }
      }

      /// Временно
      @media screen and (min-width: ($screen-l)+1px) {
        display: block !important;
      }
    }

    &__dropdown-box.dropdown-box {
      top: $height-header;
      margin-top: 14px;
      width: $width-dropdown-box;
    }

    &__item {
      position: relative;
      display: inline-block;
      vertical-align: top;

      /// Отзывчивость
      &--respons {
        @include media-mx-w($screen-l) {
          display: block;
          border-top: 1px solid transparent;

          & + & { border-color: hsl(0,0%,93%); }
        }
      }
    }

    &__link {

      /// Параметры
      $font-size: $font-size-s;
      $h-padding: 12px;

      /// Цвета
      $color-txt: hsl(0,0%,99%);
      $color-bg-hover: #58A9EC; ///#EF556C;



      @include adjust-font-size-to($font-size);
      display: block;
      height: $height-header;
      padding: $rhythm-one-half;
      text-transform: uppercase;
      color: $color-txt;

      &:hover {
        padding-top: ($rhythm-one-half)-2px;
        background-color: $color-bg-hover;
        border-bottom: 2px solid hsl(0,0%,40%);
        box-shadow: 0px -1px 8px -2px hsl(0,0%,40%);
      }

      &:active {
        box-shadow: inset 1px 2px 6px -1px darken(hsl(0,0%,40%),10%);
        border-color: darken(hsl(0,0%,40%),10%);
      }

      /// Отзывчивость
      &--respons {
        @include media-mx-w($screen-l) {
          color: hsl(0,0%,50%);
          height: ($rhythm-one-half*3)-1px;
          padding: $rhythm-border-one-quarter
                   $rhythm-one-half
                   $rhythm-one-quarter;

          &:hover {
            padding-top: $rhythm-border-one-quarter;
            background-color: hsl(54, 100%, 93%);
            border: none;
            box-shadow: none;
          }
        }
      }
    }

    /// Временно
    &__toggle.btn {
      @extend %u-hide-after-l;
      @include v-margin(9px);
    }
  }

  /**
   * Декоративная стрелочка к dropdown-box.
   * Рассчитана на использование только в header-е.
   * Добавляется(в основном) к .nav__item посредством JS
   * при активации dropdown-box.
   */

  .pointer {

    /// Параметры
    $z-index-before: $z-index-pointer-before;
    $z-index-after: $z-index-pointer-after;



    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -10px;
      top: ($height-header)-6px;
      border: 10px solid transparent;
    }

    &:before {
      border-bottom-color: hsl(0,0%,93%);
      z-index: $z-index-before;
    }

    &:after {
      margin-top: 1px;
      border-bottom-color: hsl(0,0%,99%);
      z-index: $z-index-after;
    }
  }
}
