@at-root {

  /// Параметры
  $height: 50px;
  $width-dropdown-box: 260px;
  $font-size-link: 14px;

  /// Цвета
  $color-txt-link: hsl(0,0%,99%);
  $color-bg-hover-link: #EF556C;



  .nav {
    position: relative;
    line-height: normal;

    &__box {

      &--responsive {}
    }

    &__dropdown-box {

      @include overlay-box();
      @include v-padding(em(4px));

      position: absolute;
      top: 100%;
      margin-top: em(14px);
      width: em($width-dropdown-box);

      &--right { right: 0; }
    }

    &__box-actions {

      @include h-padding(em(4px));

      line-height: 1;
      text-align: right;
    }

    &__item {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    &__link {

      @include h-padding(em(10px,$font-size-link));

      display: block;
      line-height: em($height,$font-size-link);
      font-size: em($font-size-link);
      text-transform: uppercase;
      color: $color-txt-link;

      &:hover { background-color: $color-bg-hover-link; }
    }

    /// Временно
    &__toggle {
      display: none;
    }
  }
}
