@at-root {

  /// Параметры
  $font-family: $font-family-roboto;

  /// Цвета
  $color-txt: hsl(238, 67%, 16%);



  .post {
    @include margin-trailer(2);
    font-family: $font-family;
    color: $color-txt;

    &:last-child {
      @include margin-trailer(0);
    }

    &--narrow {
      @include h-padding($rhythm-one*2);

      /// Медиа-запросы
      @include media-mx-w($screen-s) {
        @include h-padding(0);
      }
    }

    &__head {
      @include margin-trailer(1);
    }

    &__title {
      > a { color: #000; }
      > a:hover,
      > a:focus { text-decoration: underline; }
      > a:visited { color: hsl(0,0%,20%); }
    }

    &__meta {
      @include adjust-font-size-to(14px);
      font-style: italic;
    }

    &__body {
      @extend %styled-text;
    }
  }
}
