@at-root {

  /// Параметры
  $font-family: $font-family-roboto;
  $font-size: 18px;

  /// Цвета
  $color-txt: hsl(238, 67%, 16%);



  .post {
    font-family: $font-family;
    font-size: em($font-size);
    line-height: 1.5;
    color: $color-txt;

    &--narrow { @include h-padding(em(50px,18px)); }

    &__head {}

    &__meta {
      font-style: italic;
      font-size: em(14px,18px);
    }

    &__body {

      p + p { padding-top: em(10px); }

      ul {
        margin-top: em(18px);
        margin-bottom: em(18px);
        padding-left: em(40px);
        list-style: disc;
      }

      kbd {

        @include h-padding(em(16px));

        background-color: #efefef;
        border-radius: 3px;
        color: #6c6c6c;
      }

      dfn { font-weight: 600; }

      del { color: #d5d5d5; }

      ins {
        text-decoration: none;
        background-color: #f5f5f5;
      }

      em, strong { text-decoration: underline; }

      mark { background-color: #fff983; }

      h1,h2,h3,h4,h5,h6 {

        @include v-padding(em(15px));

        text-indent: 10px;
      }

      abbr { cursor: help; }

      a {
        color: #41beff;

        &:hover,
        &:focus { text-decoration: underline; }
        &:visited { color: darken(#41beff,26%); }
      }

      q { font-style: italic; }

      blockquote { @include board(); }

      cite { color: #a8a8a8; }

      code, var, samp {

        @include h-padding(em(5px));

        font-style: normal;
        background-color: #222;
        color: #298ABD;
      }

      pre {

        @include board(#222,#FF2042,#298ABD);

        code, samp {
          background: transparent;
          padding: 0;
        }
      }

      dt {
        font-weight: 600;
        font-style: italic;
      }

      dd { margin-bottom: em(20px); }
    }

    &__acttions {}
  }

}
