@at-root {

  $width-user-board: ($rhythm-one)*7;
  $ava-size-min: $rhythm-one;



  .user-col {
    margin-left: ($width-user-board)+($rhythm-one);

    /// Медиа-запросы
    @include media-mx-w($screen-m) {
      margin-left: 0;
    }
  }

  .user-ava {
    vertical-align: middle;
    border-radius: 5px;

    &--xxs { @include size($ava-size-min); }
    &--xs  { @include size($ava-size-min*2); }
    &--s   { @include size($ava-size-min*3); }
    &--m   { @include size($ava-size-min*4); }
    &--l   { @include size($ava-size-min*5); }
    &--xl  { @include size($ava-size-min*6); }
    &--xxl { @include size($ava-size-min*7); }
  }

  .user-board {
    width: $width-user-board;
    float: left;
    line-height: normal;

    /// Медиа-запросы
    @include media-mx-w($screen-m) {
      @include margin-trailer(2);
      width: auto;
      float: none;

      &:last-child {
        @include margin-trailer(0);
      }
    }
  }

  .user-status {
    @include h-margin(6px);
    padding: 2px 6px;
    border-radius: 3px;
  }
}
