$width-page: 1000px;
$min-width-page: 320px;
$h-padding: 20px;
$height-header: 50px;
$height-footer: (50px/16px)*1em;
$width-main-col: 640px;
$width-sidebar: 360px;
$padding-top-content: 100px;
$padding-content: 50px;

$font-family-default: 'Arial',sans-serif;
$font-family-roboto: 'roboto','Arial',sans-serif;

