$width-page: 1000px;
$min-width-page: 320px;
$h-padding-page: 20px;
$width-page-inner: ($width-page)-($h-padding-page);
$height-header: $rhythm-one*2;
$height-footer: $rhythm-one*5;

$font-family-default: 'Arial',sans-serif;
$font-family-roboto: 'roboto','Arial',sans-serif;

$grid-gutter-size: percentage($rhythm-one/$width-page-inner);

