.l-content {
  min-width: em($width-page);
  padding-top: $padding-top-content;
  padding-bottom: $padding-content;
}

.l-main-col {
  max-width: percentage($width-main-col/$width-page);
  float: left;
}

.l-sidebar {
  max-width: percentage($width-sidebar/$width-page);
  padding-left: percentage($padding-content/$width-page);
  padding-right: percentage($padding-content/$width-page);
  float: right;
}
