.l-content {
  padding-top: 100px;
  padding-bottom: 50px;
}

.l-main-col {
  max-width: em(640px);
  float: left;
}

.l-sidebar {
  max-width: em(360px);
  padding-left: em(50px);
  padding-right: em(50px);
  float: right;
}
