/**
 * Недосеточка.
 * Отсутствует адаптивность для разных экранов
 */

@at-root {

  /// Число колонок
  $grid-columns: 12 !default;

  /// Отступы между колонками в %
  $grid-gutters-size: 0 !default;

  /// В случае, если глобально не задано
  $grid-box-sizing: false !default;



  /// Ряд
  .grid-row { @extend %u-clearfix; }

  /// Базовый класс для колонки без отступов
  .grid-col {
    position: relative;
    float: left;
    @if $grid-box-sizing { box-sizing: border-box; }
  }

  /// Если заданы отступы, то генерируется дополнительный базовый класс
  @if $grid-gutters-size > 0 {
    .grid-m-col {
      @extend .grid-col;
      & + & { margin-left: $grid-gutters-size; }
    }
  }


  /// Генерация колонок
  @for $i from 1 to $grid-columns {

    /// Без отступов
    .grid-col--#{$i} { width: ( $i/$grid-columns*100% ); }

    /// С отступами
    @if $grid-gutters-size > 0 {
      .grid-m-col--#{$i} { width: ( $i/$grid-columns*100% - $grid-gutters-size ); }
    }
  }

}
