/**
 * Недосеточка.
 * Отсутствует адаптивность для разных экранов
 */

@at-root {

  /// Число колонок
  $grid-columns: 12 !default;

  /// Отступы между колонками в %
  $grid-gutter-size: 0 !default;

  /// В случае, если глобально не задано
  $grid-box-sizing: false !default;



  /// Ряд
  .grid-row { @extend %u-clearfix; }

  /// Базовый класс для колонки без отступов
  .grid {
    position: relative;
    float: left;
    @if $grid-box-sizing { box-sizing: border-box; }
  }

  /// Если заданы отступы, то генерируется дополнительный базовый класс
  @if $grid-gutter-size > 0 {
    .grid-offset {
      @extend .grid;
      margin-left: $grid-gutter-size;
      &:first-child { margin-left: 0; }
    }
  }


  /// Генерация колонок
  @for $i from 1 to $grid-columns {

    /// Без отступов
    .grid--#{$i} { width: ( $i/$grid-columns*100% ); }

    /// С отступами
    @if $grid-gutter-size > 0 {
      .grid-offset--#{$i} { width: ( $i/$grid-columns*100% - $grid-gutter-size ); }
    }
  }

}
