/**
 * Недосеточка.
 * Отсутствует адаптивность для разных экранов
 */

@at-root {

  /// Число колонок
  $grid-columns: 12 !default;

  /// Отступы между колонками в %
  $grid-gutter-size: 0 !default;

  /// В случае, если глобально не задано
  $grid-box-sizing: false !default;



  /// Ряд
  .grid-row { @extend %u-clearfix; }


  /// Класс для колонки без отступов
  %grid {
    position: relative;
    float: left;
    @if $grid-box-sizing { box-sizing: border-box; }
  }

  /// Генерация колонок без отступов
  @for $i from 1 to $grid-columns {
    .grid-#{$i} {
      @extend %grid;
      width: ( $i/$grid-columns*100% );
    }
  }


  /// Если заданы отступы, то генерируется дополнительный класс
  @if $grid-gutter-size > 0 {

    /// Так как у последней колонки отступ обрезается(см.1), то этот обрезанный отступ
    /// нужно разделить между всеми колонками.
    $sharing-gutter-part: ($grid-gutter-size/$grid-columns);

    %grid-offset {
      position: relative;
      float: left;
      margin-right: $grid-gutter-size;
      &:last-child { margin-right: 0; } /* 1 */
    }

    /// Генерация колонок с отступами
    @for $i from 1 to $grid-columns {
      .grid-offset-#{$i} {
        @extend %grid-offset;
        width: ( ($i/$grid-columns*100%)+($sharing-gutter-part*$i) - $grid-gutter-size );
      }
    }
  }
}
