html,
body { @extend %u-view-height; }

body {
  font-size: 16px;
  font-family: $font-family-default;
  background-color: $color-bg-page;
  color: $color-txt-page;
}

a { text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  border-left: none;
  border-right: none;
  border-color: #e8e8e8;
  border-style: solid;
  margin: 20px 0;
}

p { margin: 0; }

h1,h2,h3,h4,h5,h6 { margin: 0; }

*,*:before,*:after { box-sizing: border-box; }
